In [1]:
# Установка transformers
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.22.2-py3-none-any.whl (4.9 MB)
     |████████████████████████████████| 4.9 MB 35.1 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Collecting huggingface-hub<1.0,>=0.9.0
  Downloading huggingface_hub-0.10.0-py3-none-any.whl (163 kB)
     |████████████████████████████████| 163 kB 70.8 MB/s
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.64.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.8.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.6)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 54.1 MB/s
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.12.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.9.0->transformers) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.10.0 tokenizers-0.12.1 transformers-4.22.2

In [2]:
#Установка catboost
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1-cp37-none-manylinux1_x86_64.whl (76.8 MB)
     |████████████████████████████████| 76.8 MB 1.2 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.2.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
Installing collected packages: catboost
Successfully installed catboost-1.1

In [3]:
import pandas as pd
from itertools import groupby

In [4]:
#import необходимых модулей

import pandas as pd
import yaml
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.utils.class_weight import compute_class_weight

import numpy as np
from datetime import datetime, timedelta

from catboost import CatBoostClassifier, Pool

In [5]:
#Считывание данных в DataFrame 
train= pd.read_csv('train_net_2.csv', sep=';', index_col=None)
test= pd.read_csv('test_net_2.csv', sep=';', index_col=None)

In [6]:
train

,id,Analytical thinking,Systemic thinking,Adaptability,Focus,team_id,game_id,Период_1_всего,Период_2_всего,Период_3_всего,...,Категория 2 средняя оценка,Категория 2 среднее место,Категория 3 средняя оценка,Категория 3 среднее место,Категория 4 средняя оценка,Категория 4 среднее место,Категория 5 средняя оценка,Категория 5 среднее место,Категория 6 средняя оценка,Категория 6 среднее место
0,10884,4,4,4,4,1440,202,7,14,28,...,-5.0,5.0,78.2,4.2,25.6,4.0,21.0,2.2,118.8,5.0
1,10106,5,4,5,5,1536,211,21,21,12,...,24.0,3.0,93.4,2.8,32.0,3.0,22.6,2.2,182.8,2.8
2,10438,6,5,5,5,1742,242,62,42,58,...,12.0,3.4,76.6,2.6,31.6,2.4,29.2,2.2,160.4,3.0
3,10130,5,4,5,5,1272,184,24,24,33,...,4.8,3.8,73.2,3.8,27.8,4.2,21.4,1.6,133.4,4.0
4,10667,4,5,5,5,1382,193,54,49,152,...,14.0,4.0,83.2,3.0,33.2,3.8,31.0,2.6,175.6,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,10563,5,4,5,4,1274,184,10,1,11,...,-5.4,4.4,69.8,4.6,25.4,4.4,18.2,3.6,107.2,4.8
676,10386,5,4,5,5,1526,210,1,14,24,...,21.6,2.6,94.2,1.8,30.8,3.0,12.4,5.2,166.4,2.8
677,10675,5,4,5,4,1670,235,4,14,20,...,17.2,2.6,79.8,3.4,27.2,3.4,16.2,2.4,146.6,2.6
678,10366,4,4,4,4,1808,248,10,44,45,...,21.6,2.8,85.0,2.4,32.8,2.4,20.0,3.2,168.4,2.4
679,10340,4,4,4,4,1570,215,0,0,1,...,14.2,4.2,96.8,3.2,34.0,3.4,16.2,3.4,164.2,4.2

In [7]:
test

,id,team_id,game_id,Период_1_всего,Период_2_всего,Период_3_всего,Период_4_всего,Analytical thinking_prognoz,Systemic thinking_prognoz,Adaptability_prognoz,...,Категория 2 средняя оценка,Категория 2 среднее место,Категория 3 средняя оценка,Категория 3 среднее место,Категория 4 средняя оценка,Категория 4 среднее место,Категория 5 средняя оценка,Категория 5 среднее место,Категория 6 средняя оценка,Категория 6 среднее место
0,10199,1912,262,2,2,3,2,4,4,4,...,11.2,3.8,77.4,3.4,30.2,3.8,21.4,2.8,142.4,3.8
1,10539,1458,204,1,9,12,13,4,4,5,...,-0.6,3.6,71.2,3.2,23.6,4.0,26.2,4.0,116.8,4.0
2,10174,1348,190,0,28,21,16,5,5,4,...,41.2,1.8,96.2,1.4,40.2,1.8,24.4,2.2,226.8,1.8
3,10465,1760,244,15,18,29,17,4,5,5,...,-3.8,4.2,84.4,2.0,26.4,4.2,22.8,3.0,125.2,3.6
4,10066,1260,183,7,23,16,6,5,4,4,...,-16.0,4.4,62.8,4.8,23.0,4.6,18.8,3.4,79.0,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,10433,1562,214,15,6,1,0,4,5,4,...,52.4,2.4,94.4,3.4,47.8,1.8,25.2,2.8,245.0,2.4
289,10893,1278,184,14,52,34,18,5,5,5,...,31.4,2.8,82.6,3.0,40.0,1.8,21.0,2.6,186.6,2.6
290,10909,1474,206,0,0,0,1,3,4,3,...,17.0,2.8,75.8,4.0,30.4,3.0,24.4,3.6,153.0,3.2
291,10889,1268,184,6,2,5,1,3,3,3,...,39.4,3.4,102.4,1.8,39.8,2.8,11.6,5.6,213.6,2.6
292,10613,1530,210,2,2,8,7,4,4,4,...,1.2,4.0,68.8,4.4,27.0,4.0,19.0,4.0,115.8,4.4

In [8]:
train.columns

Index(['id', 'Analytical thinking', 'Systemic thinking', 'Adaptability',
       'Focus', 'team_id', 'game_id', 'Период_1_всего', 'Период_2_всего',
       'Период_3_всего', 'Период_4_всего', 'Analytical thinking_prognoz',
       'Systemic thinking_prognoz', 'Adaptability_prognoz', 'Focus_prognoz',
       'Категория 1 средняя оценка', 'Категория 1 среднее место',
       'Категория 2 средняя оценка', 'Категория 2 среднее место',
       'Категория 3 средняя оценка', 'Категория 3 среднее место',
       'Категория 4 средняя оценка', 'Категория 4 среднее место',
       'Категория 5 средняя оценка', 'Категория 5 среднее место',
       'Категория 6 средняя оценка', 'Категория 6 среднее место'],
      dtype='object')

In [9]:
# выбираем поля для нейросети СatBoost по бинарной классификации

X_train=train[['team_id', 'game_id',  'Analytical thinking_prognoz',
       'Systemic thinking_prognoz', 'Adaptability_prognoz', 'Focus_prognoz','Период_1_всего', 'Период_2_всего',
       'Период_3_всего', 'Период_4_всего',
        'Категория 1 среднее место',
        'Категория 2 среднее место',
        'Категория 3 среднее место',
        'Категория 4 среднее место',
        'Категория 5 среднее место',
        'Категория 6 среднее место']]
y_train=train[['Analytical thinking']]


testnet=test[['team_id', 'game_id', 'Analytical thinking_prognoz',
       'Systemic thinking_prognoz', 'Adaptability_prognoz', 'Focus_prognoz','Период_1_всего', 'Период_2_всего',
       'Период_3_всего', 'Период_4_всего',
        'Категория 1 среднее место',
        'Категория 2 среднее место',
        'Категория 3 среднее место',
        'Категория 4 среднее место',
        'Категория 5 среднее место',
        'Категория 6 среднее место']]

In [10]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   team_id                      680 non-null    int64
 1   game_id                      680 non-null    int64
 2   Analytical thinking_prognoz  680 non-null    int64
 3   Systemic thinking_prognoz    680 non-null    int64
 4   Adaptability_prognoz         680 non-null    int64
 5   Focus_prognoz                680 non-null    int64
 6   Период_1_всего               680 non-null    int64
 7   Период_2_всего               680 non-null    int64
 8   Период_3_всего               680 non-null    int64
 9   Период_4_всего               680 non-null    int64
 10  Категория 1 среднее место    680 non-null    float64
 11  Категория 2 среднее место    680 non-null    float64
 12  Категория 3 среднее место    680 non-null    float64
 13  Категория 4 среднее место    680 non-null    float64
 14  Категория 5 среднее место    680 non-null    float64
 15  Категория 6 среднее место    680 non-null    float64
dtypes: float64(6), int64(10)
memory usage: 85.1 KB

In [11]:
# Определяем веса для классов кластеров
classes = np.unique(y_train)
weights = compute_class_weight(class_weight='balanced', classes = np.unique(y_train), y = np.ravel(y_train))
class_weights = dict(zip(classes, weights))
class_weights

{1: 34.0,
 3: 3.7777777777777777,
 4: 0.3261390887290168,
 5: 0.6507177033492823,
 6: 9.714285714285714}

In [12]:
#Обучаем 

pool_train_solution = Pool(X_train, y_train, cat_features = ['team_id', 'game_id','Analytical thinking_prognoz',
       'Systemic thinking_prognoz', 'Adaptability_prognoz', 'Focus_prognoz'])
pool_test_solution = Pool(testnet,cat_features = ['team_id', 'game_id','Analytical thinking_prognoz',
       'Systemic thinking_prognoz', 'Adaptability_prognoz', 'Focus_prognoz'])

model_test = CatBoostClassifier(iterations=100,  task_type='GPU',depth=12, verbose =True, random_seed=9,# learning_rate=0.015,
                               leaf_estimation_method= 'Gradient',bootstrap_type= 'Poisson',objective = 'MultiClass',eval_metric = 'Accuracy',loss_function='Recall', class_weights=class_weights)
model_test.fit(pool_train_solution)

0:	learn: 0.8716998	total: 166ms	remaining: 16.5s
1:	learn: 0.8746666	total: 283ms	remaining: 13.9s
2:	learn: 0.8893188	total: 400ms	remaining: 12.9s
3:	learn: 0.9012862	total: 476ms	remaining: 11.4s
4:	learn: 0.8988928	total: 552ms	remaining: 10.5s
5:	learn: 0.9031978	total: 644ms	remaining: 10.1s
6:	learn: 0.9075098	total: 719ms	remaining: 9.55s
7:	learn: 0.9031955	total: 796ms	remaining: 9.15s
8:	learn: 0.9036751	total: 876ms	remaining: 8.85s
9:	learn: 0.9012839	total: 951ms	remaining: 8.56s
10:	learn: 0.9031978	total: 1.03s	remaining: 8.38s
11:	learn: 0.8993655	total: 1.11s	remaining: 8.16s
12:	learn: 0.9017659	total: 1.19s	remaining: 7.96s
13:	learn: 0.9017636	total: 1.26s	remaining: 7.77s
14:	learn: 0.9012839	total: 1.34s	remaining: 7.61s
15:	learn: 0.8993701	total: 1.42s	remaining: 7.45s
16:	learn: 0.9017636	total: 1.5s	remaining: 7.3s
17:	learn: 0.9036797	total: 1.57s	remaining: 7.18s
18:	learn: 0.9041594	total: 1.7s	remaining: 7.24s
19:	learn: 0.9041594	total: 1.8s	remaining: 7.21s
20:	learn: 0.9041594	total: 1.97s	remaining: 7.4s
21:	learn: 0.9022455	total: 2.04s	remaining: 7.24s
22:	learn: 0.9022455	total: 2.16s	remaining: 7.22s
23:	learn: 0.9032024	total: 2.23s	remaining: 7.08s
24:	learn: 0.9036820	total: 2.32s	remaining: 6.95s
25:	learn: 0.9008089	total: 2.39s	remaining: 6.8s
26:	learn: 0.9022455	total: 2.47s	remaining: 6.67s
27:	learn: 0.9046390	total: 2.55s	remaining: 6.56s
28:	learn: 0.9032001	total: 2.63s	remaining: 6.45s
29:	learn: 0.9041594	total: 2.71s	remaining: 6.33s
30:	learn: 0.9032047	total: 2.79s	remaining: 6.21s
31:	learn: 0.9041616	total: 2.87s	remaining: 6.09s
32:	learn: 0.9046390	total: 2.95s	remaining: 6s
33:	learn: 0.9046367	total: 3.03s	remaining: 5.88s
34:	learn: 0.9027228	total: 3.11s	remaining: 5.77s
35:	learn: 0.9032024	total: 3.19s	remaining: 5.67s
36:	learn: 0.9041616	total: 3.27s	remaining: 5.56s
37:	learn: 0.9036820	total: 3.35s	remaining: 5.47s
38:	learn: 0.9017636	total: 3.43s	remaining: 5.37s
39:	learn: 0.9036820	total: 3.52s	remaining: 5.27s
40:	learn: 0.9041594	total: 3.6s	remaining: 5.18s
41:	learn: 0.9027205	total: 3.69s	remaining: 5.1s
42:	learn: 0.9032001	total: 3.77s	remaining: 5s
43:	learn: 0.9032001	total: 3.85s	remaining: 4.89s
44:	learn: 0.9032001	total: 3.92s	remaining: 4.79s
45:	learn: 0.9041594	total: 4.04s	remaining: 4.75s
46:	learn: 0.9036797	total: 4.17s	remaining: 4.7s
47:	learn: 0.9036797	total: 4.29s	remaining: 4.64s
48:	learn: 0.9046390	total: 4.41s	remaining: 4.59s
49:	learn: 0.9041594	total: 4.48s	remaining: 4.48s
50:	learn: 0.9046390	total: 4.56s	remaining: 4.38s
51:	learn: 0.9051163	total: 4.65s	remaining: 4.29s
52:	learn: 0.9051163	total: 4.73s	remaining: 4.2s
53:	learn: 0.9036797	total: 4.81s	remaining: 4.1s
54:	learn: 0.9041594	total: 4.89s	remaining: 4s
55:	learn: 0.9041594	total: 4.97s	remaining: 3.91s
56:	learn: 0.9032001	total: 5.05s	remaining: 3.81s
57:	learn: 0.9041571	total: 5.13s	remaining: 3.71s
58:	learn: 0.9032001	total: 5.2s	remaining: 3.61s
59:	learn: 0.9041594	total: 5.28s	remaining: 3.52s
60:	learn: 0.9046390	total: 5.36s	remaining: 3.42s
61:	learn: 0.9046390	total: 5.43s	remaining: 3.33s
62:	learn: 0.9051186	total: 5.52s	remaining: 3.24s
63:	learn: 0.9055982	total: 5.6s	remaining: 3.15s
64:	learn: 0.9055959	total: 5.7s	remaining: 3.07s
65:	learn: 0.9055959	total: 5.78s	remaining: 2.98s
66:	learn: 0.9051186	total: 5.86s	remaining: 2.89s
67:	learn: 0.9051186	total: 5.94s	remaining: 2.79s
68:	learn: 0.9051186	total: 6.02s	remaining: 2.7s
69:	learn: 0.9046390	total: 6.09s	remaining: 2.61s
70:	learn: 0.9046390	total: 6.18s	remaining: 2.52s
71:	learn: 0.9060755	total: 6.26s	remaining: 2.44s
72:	learn: 0.9065551	total: 6.34s	remaining: 2.35s
73:	learn: 0.9070348	total: 6.42s	remaining: 2.25s
74:	learn: 0.9070325	total: 6.5s	remaining: 2.17s
75:	learn: 0.9075121	total: 6.57s	remaining: 2.08s
76:	learn: 0.9075121	total: 6.65s	remaining: 1.99s
77:	learn: 0.9075121	total: 6.73s	remaining: 1.9s
78:	learn: 0.9075121	total: 6.81s	remaining: 1.81s
79:	learn: 0.9079917	total: 6.89s	remaining: 1.72s
80:	learn: 0.9084713	total: 6.96s	remaining: 1.63s
81:	learn: 0.9089509	total: 7.04s	remaining: 1.55s
82:	learn: 0.9089509	total: 7.12s	remaining: 1.46s
83:	learn: 0.9094305	total: 7.2s	remaining: 1.37s
84:	learn: 0.9089509	total: 7.28s	remaining: 1.28s
85:	learn: 0.9089509	total: 7.35s	remaining: 1.2s
86:	learn: 0.9089509	total: 7.43s	remaining: 1.11s
87:	learn: 0.9103875	total: 7.51s	remaining: 1.02s
88:	learn: 0.9103875	total: 7.59s	remaining: 938ms
89:	learn: 0.9099079	total: 7.66s	remaining: 852ms
90:	learn: 0.9108671	total: 7.78s	remaining: 770ms
91:	learn: 0.9113467	total: 7.94s	remaining: 691ms
92:	learn: 0.9118263	total: 8.08s	remaining: 608ms
93:	learn: 0.9123059	total: 8.24s	remaining: 526ms
94:	learn: 0.9118263	total: 8.37s	remaining: 441ms
95:	learn: 0.9123059	total: 8.5s	remaining: 354ms
96:	learn: 0.9123059	total: 8.63s	remaining: 267ms
97:	learn: 0.9123059	total: 8.74s	remaining: 178ms
98:	learn: 0.9127856	total: 8.85s	remaining: 89.4ms
99:	learn: 0.9127856	total: 8.95s	remaining: 0us

In [13]:
# предварительный тест схождения на всем обучающем множестве
y_pred = model_test.predict(X_train)

In [14]:
print("Значение метрики recall на трейне : ", recall_score(y_train, y_pred, average='macro', zero_division=True))

Значение метрики recall на трейне :  0.9036797356373274

In [15]:
#Получение ответов
y_pred_solution = model_test.predict(pool_test_solution)

In [16]:
# Посмотрим предварительный прогноз
test['Analytical thinking_prognoz'].value_counts()

4    132
5    112
3     46
6      3
Name: Analytical thinking_prognoz, dtype: int64

In [17]:
# Заводим результаты в тест
test['Analytical thinking']=y_pred_solution
test['Analytical thinking'].value_counts()

4    141
5    111
3     38
6      3
Name: Analytical thinking, dtype: int64

In [18]:
test_itog=test[['id','Analytical thinking']]
test_itog

        id  Analytical thinking
0    10199                    4
1    10539                    4
2    10174                    5
3    10465                    4
4    10066                    5
..     ...                  ...
288  10433                    4
289  10893                    5
290  10909                    3
291  10889                    3
292  10613                    4

[293 rows x 2 columns]

In [19]:
test_itog.to_csv('прогноз по Analytical thinking предварительный второй этап 100 9 c действиями без оценки.csv', sep=',', index=None)