In [1]:
import pandas as pd
import numpy as np

In [2]:
mode_tab= pd.read_csv('Таблица для модирования Adaptability.csv', sep=',', index_col=None)

In [3]:
mode_tab

        id  best  cand1  cand2  cand3  cand4
0    10199     4      4      4      4      4
1    10539     5      5      5      5      5
2    10174     4      4      4      6      4
3    10465     5      5      5      5      5
4    10066     4      4      3      4      4
..     ...   ...    ...    ...    ...    ...
288  10433     4      4      4      6      4
289  10893     5      5      5      5      5
290  10909     3      3      3      3      3
291  10889     3      3      3      3      3
292  10613     4      4      4      4      4

[293 rows x 6 columns]

In [4]:
mode_tab['best'].value_counts()

5    131
4    109
3     50
6      2
1      1
Name: best, dtype: int64

In [5]:
mode_tab['Adaptability']=mode_tab['best']
mode_tab.loc[((mode_tab['best']==3)&((mode_tab['cand1']!=3)|(mode_tab['cand2']!=3)|(mode_tab['cand3']!=3)|(mode_tab['cand4']!=3))),'Adaptability']=4
mode_tab['Adaptability'].value_counts()

5    131
4    127
3     32
6      2
1      1
Name: Adaptability, dtype: int64

In [6]:
mode_tab=mode_tab[['id','Adaptability']]

In [7]:
mode_tab.to_csv('проба модирования Adaptability.csv', sep=',', index=None)